<h1>Welcome to the Nested Forms Lab!</h1>

<form action="/pirates" method="post">
  <label for="name">Name: </label>
  <input type="text" name="pirate[name]">
  
  <label for="weight">Weight: </label>
  <input type="text" name="pirate[weight]">
  
  <label for="height">Height: </label>
  <input type="text" name="pirate[height]">
  
  <label for="ship_name_1"> First Ship Name: </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1">
  
  <label for="ship_type_1"> First Ship Type: </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1">
  
  <label for="first_ship_booty"> First Ship Booty: </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">
  
  <label for="ship_name_2">Second Ship Name: </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2">
  
  <label for="ship_type_2">Second Ship Type: </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2">
  
  <label for="second_ship_booty">Second Ship Booty: </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  
  <input type="submit" value="Submit">
</form>